.fresh__section{
  padding: 140px;
}

.fresh{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fresh__content-title{
  max-width: 400px;
  margin-bottom: 29px;
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1.649999976158142px;
  color: #35B8BE;
}

.fresh__content-text{
  max-width: 500px;
  margin-bottom: 47px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
}

.fresh__content-btn{
  width: 194px;
  height: 60px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #35B8BE;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;

  &:hover{
    color: #35B8BE;
    background-color: #FFFFFF;
    border: 1.5px solid #35B8BE;
  }
}

.fresh__img{
  overlay: none;
}