.support__section{
  padding: 44px;
}

.support{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.support__content-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}

.support__title-section{
  width: 565px;
  height: 540px;
  background-color: #35B8BE;
}

.support__title{
  margin-top: 30%;
  padding: 20px;
  margin-bottom: 52px;
  font-family: Inter;
  font-size: 53px;
  font-weight: 400;
  line-height: 60.5px;
  letter-spacing: 1.649999976158142px;
  color: #FFFFFF;
}

.support__title > span{
  color: #1B9097;
}

.support__btn{
  width: 162px;
  height: 60px;
  margin-left: 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #35B8BE;
  background-color: #FFFFFF;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;

  &:hover{
    color: #FFFFFF;
    background-color: #1B9097;
    border: 1.5px solid #FFFFFF;
  }
}