.work__section{
  padding: 120px;
}

.work__title{
  margin-bottom: 66px;
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1.649999976158142px;
  text-align: center;
  color: #35B8BE;
}

.work__list{
  display: flex;
  align-items: center;
  gap: 10px;
}

.work__img{
  margin-bottom: 40px;
}

.work__second-title{
  margin-bottom: 15px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.6600000262260437px;
  text-align: center;
}

.work__text{
  max-width: 350px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color:#546285;
}

.work__linear-img{
  margin-bottom: 170px;
}